In [72]:
## Loading Libraries
import pandas as pd
import numpy as np
import sys
import jdatetime as jd
import os
import pickle

# import power_index_calculator as px
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# **Loading OCM Data**

In [98]:
## Loading Data
DF_dict = {}
Shareholder_data = {}
Start = 1396
End = 1398

os.chdir(r"C:\Users\Mahdi\OneDrive\Master Thesis\Data")
for year in range(Start,End+1):
    file_name= "Shareholder"+str(year)+".csv"
    df = pd.read_csv(file_name)
    Shareholder_data[str(year)] = df

    

os.chdir(r"C:\Users\Mahdi\OneDrive\Master Thesis\Data")
for year in range(Start,End+1):
    file_name = "Measures"+str(year)+".csv"
    df = pd.read_csv(file_name)
    if year==Start:
        Symbols = set(df.Symbol)
    else:
        Symbols = Symbols.intersection(set(df.Symbol))
    DF_dict[str(year)] = df

    
print('We have ',len(Symbols),' stocks in all year from ',Start,' to ',End)

## Keeping common stocks
DF = {}
for year in range(Start,End+1):
    file_name = "Measures"+str(year)+".csv"
    df = pd.read_csv(file_name)
    df = df[df.Symbol.isin(list(Symbols))]
    DF[str(year)] = df

We have  244  stocks in all year from  1396  to  1398

# **Calculating Average for Industries and Filtering Industries**

In [99]:
## Calculating average for industries
Ind_OCM = pd.DataFrame()
for year in range(Start,End+1):
    data = DF[str(year)]
    temp = data.groupby('Industry',as_index=False).agg({'Symbol':'count','Largest_Owner':'mean','First_Second':'mean',
                                                 'First_Sumtwofour':'mean','Sumfive':'mean','Gini':'mean',
                                                 'Herfindhal':'mean','SSCL':'mean','SSCO':'mean','SSDL':'mean',
                                                 'SSDO':'mean','BZCL':'mean','BZCO':'mean','BZDL':'mean'})
    temp['year'] = year
    Ind_OCM = Ind_OCM.append(temp)

In [148]:
# Filtering industries and keeping with mean 5 symbols each year
min_sym = 1
temp = Ind_OCM[['Industry','Symbol']].groupby('Industry',as_index=False).agg('mean')
temp = temp[temp.Symbol>min_sym]
Ind_OCM = Ind_OCM[Ind_OCM.Industry.isin(temp.Industry)]
Ind_OCM.reset_index(drop=True,inplace=True)

print("After filtering by year({}-{}), common stock, and keeping industries with average {} firms in each year:\n"
      "We have {:0.0f} firms, and {} industries!"
      .format(Start,End,min_sym,sum(Ind_OCM[['Symbol','Industry']].Symbol)/(End-Start+1),
      len(Ind_OCM[['Symbol','Industry']].sort_values(by=['Industry']).drop_duplicates())))

After filtering by year(1396-1398), common stock, and keeping industries with average 1 firms in each year:
We have 200 firms, and 17 industries!

In [149]:
# Dictionary for Industries
temp = Ind_OCM['Industry'].drop_duplicates()
Ind_dict = dict(zip(list(range(len(temp))),temp))
Ind_dict

{0: 'استخراج کانه های فلزی',
 1: 'انبوه سازی، املاک و مستغلات',
 2: 'بانکها و موسسات اعتباری',
 3: 'بیمه وصندوق بازنشستگی به جزتامین اجتماعی',
 4: 'حمل ونقل، انبارداری و ارتباطات',
 5: 'خودرو و ساخت قطعات',
 6: 'ساخت محصولات فلزی',
 7: 'سایر محصولات کانی غیرفلزی',
 8: 'سرمایه گذاریها',
 9: 'سیمان، آهک و گچ',
 10: 'فلزات اساسی',
 11: 'قند و شکر',
 12: 'لاستیک و پلاستیک',
 13: 'ماشین آلات و تجهیزات',
 14: 'محصولات شیمیایی',
 15: 'محصولات غذایی و آشامیدنی به جز قند و شکر',
 16: 'مواد و محصولات دارویی'}

In [150]:
def Industry_Trend(Industry_code,OCM,pnt=True):
    # finding Industry
    Industry = Ind_dict[Industry_code]
    if pnt:
        print(Industry)
    
    out = Ind_OCM.loc[Ind_OCM.Industry==Industry,['year','Symbol']+OCM].sort_values(by='year').set_index('year')
    
    return(out)

In [151]:
for x in range(17):
    Industry_Trend(x,['Largest_Owner','SSCL'])

استخراج کانه های فلزی

      Symbol  Largest_Owner      SSCL
year
1396       6      35.251667  0.514687
1397       6      42.536667  0.675728
1398       6      42.818333  0.678711

انبوه سازی، املاک و مستغلات

      Symbol  Largest_Owner      SSCL
year
1396      15      36.255333  0.541575
1397      15      35.097333  0.516821
1398      15      32.212000  0.499611

بانکها و موسسات اعتباری

      Symbol  Largest_Owner      SSCL
year
1396      24      18.620000  0.265852
1397      24      19.086667  0.272460
1398      24      28.437917  0.430150

بیمه وصندوق بازنشستگی به جزتامین اجتماعی

      Symbol  Largest_Owner      SSCL
year
1396       9      21.497778  0.267851
1397       9      21.370000  0.266483
1398       9      21.660000  0.273317

حمل ونقل، انبارداری و ارتباطات

      Symbol  Largest_Owner      SSCL
year
1396       7      45.530000  0.610246
1397       7      47.160000  0.631432
1398       7      45.531429  0.638130

خودرو و ساخت قطعات

      Symbol  Largest_Owner      SSCL
year
1396      12      41.859167  0.632442
1397      12      38.992500  0.569918
1398      12      36.468333  0.548009

ساخت محصولات فلزی

      Symbol  Largest_Owner      SSCL
year
1396       6      46.070000  0.722816
1397       6      45.048333  0.746448
1398       6      43.895000  0.722353

سایر محصولات کانی غیرفلزی

      Symbol  Largest_Owner      SSCL
year
1396      13      45.260000  0.723513
1397      13      45.864615  0.722554
1398      13      43.760769  0.732097

سرمایه گذاریها

      Symbol  Largest_Owner      SSCL
year
1396      10         41.624  0.675413
1397      10         41.738  0.656078
1398      10         41.343  0.645235

سیمان، آهک و گچ

      Symbol  Largest_Owner      SSCL
year
1396      14      52.736429  0.855819
1397      14      52.603571  0.858870
1398      14      53.367857  0.862711

فلزات اساسی

      Symbol  Largest_Owner      SSCL
year
1396      20         39.673  0.619364
1397      20         40.756  0.639143
1398      20         40.194  0.635256

قند و شکر

      Symbol  Largest_Owner      SSCL
year
1396       8       42.56125  0.704349
1397       8       39.29875  0.614739
1398       8       39.46875  0.605159

لاستیک و پلاستیک

      Symbol  Largest_Owner      SSCL
year
1396       6      49.256667  0.791480
1397       6      47.561667  0.757762
1398       6      47.025000  0.762939

ماشین آلات و تجهیزات

      Symbol  Largest_Owner      SSCL
year
1396       8       38.20375  0.631664
1397       8       38.09625  0.635035
1398       8       37.58000  0.620960

محصولات شیمیایی

      Symbol  Largest_Owner      SSCL
year
1396      22      39.838182  0.565057
1397      22      39.387273  0.555518
1398      22      39.254545  0.582356

محصولات غذایی و آشامیدنی به جز قند و شکر

      Symbol  Largest_Owner  SSCL
year
1396       6      62.798333   1.0
1397       6      60.175000   1.0
1398       6      59.433333   1.0

مواد و محصولات دارویی

      Symbol  Largest_Owner      SSCL
year
1396      14      53.918571  0.866223
1397      14      53.311429  0.856975
1398      14      52.887857  0.836629

In [27]:
################################################################################

In [28]:
OC_list = ['Largest_Owner','First_Second','First_Sumtwofour','Sumfive',
           'Gini','Herfindhal','SSCL','SSCO','SSDL','SSDO','BZCL','BZCO','BZDL']