In [17]:
## Loading Libraries
import pandas as pd
import numpy as np
import sys
import jdatetime as jd
import os
import pickle
import io

# import power_index_calculator as px
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [18]:
from ReadingBalancesheetData import read_blnc_data
from ReadingIncomeData import read_inc_data
from ReadingCashFlowData import read_cf_data
from convert_ar_characters import convert_ar_characters
from functions import find_year

# Creating شرکت-نماد dict from Balance Sheet Data

In [19]:
## Updating Sh_spec_handy based on the شرکت-نماد for years 1397-8 from balance sheet data
# Loading Sh_spec_handy data
os.chdir(r"C:\Users\Mahdi\Dr. Heidari - TSE\WorkInHands\_Data\OtherData")
Sh_spec_handy=pd.read_excel("Sh_spec_handy.xlsx")
Sh_spec_handy.Shareholder_raw=Sh_spec_handy.Shareholder_raw.apply(lambda x: convert_ar_characters(x))
Sh_spec_handy.Shareholder=Sh_spec_handy.Shareholder.apply(lambda x: convert_ar_characters(x))

os.chdir(r"C:\Users\Mahdi\OneDrive\Master Thesis\Data")
sherkat_namad = pd.DataFrame()
for year in range(1385,1399):
    file_name = 'BS'+str(year)[2:]+'.csv'
    df = pd.read_csv(file_name,header=1)
    df['شرکت']=df['شرکت'].apply(lambda x: convert_ar_characters(x))
    df['نماد']=df['نماد'].apply(lambda x: convert_ar_characters(x))
    sherkat_namad = sherkat_namad.append(df[['شرکت','نماد']]).drop_duplicates()
    
# Appending the data of two years
sherkat_namad = sherkat_namad.append(pd.DataFrame(data={'شرکت':['سر. صنعت و معدن'],'نماد':['وصنعت']}))
sherkat_namad = sherkat_namad.append(pd.DataFrame(data={'شرکت':['مهندسی فیروزا'],'نماد':['تفیرو']}))
sherkat_namad = sherkat_namad.append(pd.DataFrame(data={'شرکت':['تامین مواد اولیه فولاد صبانور'],'نماد':['کنور']}))
sherkat_namad = sherkat_namad.append(pd.DataFrame(data={'شرکت':['پتروشیمی فجر'],'نماد':['بفجر']}))
sherkat_namad = sherkat_namad.append(pd.DataFrame(data={'شرکت':['پتروشیمی مبین'],'نماد':['مبین']}))

sherkat_namad.rename(columns={'شرکت':'Shareholder_raw','نماد':'Shareholder'},inplace=True)
sherkat_namad = sherkat_namad.drop_duplicates()

# Updating the Sh_spec_handy file
Sh_spec_handy = Sh_spec_handy.append(sherkat_namad).drop_duplicates()
Sh_spec_handy = Sh_spec_handy[Sh_spec_handy.Shareholder !='nan']
sherkat_namad_dict = dict(zip(Sh_spec_handy['Shareholder_raw'],Sh_spec_handy['Shareholder']))

# **Cleaning BalanceSheet Data**

In [20]:
# ## We did not have enough data for 1398. So in this cell we want to see what is happening?!
# temp = read_blnc_data(year=1398,path=r"C:\Users\Mahdi\OneDrive\Master Thesis\Data",sherkat_namad_dict=sherkat_namad_dict)['data']
# temp['year'] = temp.Fin_year.apply(lambda x: x.year)
# temp98 = temp[temp.year==1398]
# mf = pd.read_csv('Measures1398.csv',index_col=0).drop_duplicates()

# print('Number of Symbols in BS98: ',len(temp.Symbol.drop_duplicates()))
# temp.groupby('year')['Symbol'].agg('count').iloc[-5:]
# print('Number of Symbols in BS98 in the year 1398 and before month 6: ',len(temp98[temp98.Year==1397]))
# temp98.groupby('Fin_year')['Symbol'].agg('count')
# print('Number of comoon Symbols in BS98 and Measure 98 in the year 1398: ',len(set(mf.Symbol).intersection(set(temp98.Symbol))))
# print('Number of Symbols in Measure 98 before filtration: ',len(mf))

In [21]:
df = pd.DataFrame()
for year in range(1385,1399):
    temp = read_blnc_data(year=year,path=r"C:\Users\Mahdi\OneDrive\Master Thesis\Data",sherkat_namad_dict=sherkat_namad_dict)
    temp['data']['year_id'] = year
    df = df.append(temp['data'])
    
blnc_dict = pd.DataFrame(data={'نام اصلی':list(temp['columns_dict'].keys()),'نام استفاده شده':list(temp['columns_dict'].values())})    
blnc_dict.to_excel('Blnc_columns_dict.xlsx')

df = df[df.Year>=1385]
df = df.drop_duplicates([x for x in list(df.columns) if x is not 'year_id'])
df['year'] = df.Fin_year.apply(lambda x: x.year)

# Handling observations for the same year from different years!
dupped = df[df.duplicated(['Symbol','Year'],keep=False)].sort_values(by=['Symbol','Year','year_id'])
un_dupped = df[~df.duplicated(['Symbol','Year'],keep=False)].sort_values(by=['Symbol','Year','year_id'])
firm_sym_dict =dict(zip(dupped.Firm,dupped.Symbol))
dupped = dupped.groupby(['Symbol','Year'],as_index=False).ffill().reindex(dupped.columns, axis=1)
dupped['Symbol'] = dupped.Firm.map(sherkat_namad_dict)
dupped['Year'] = dupped.Fin_year.apply(lambda x: find_year(x))
dupped = dupped.sort_values(by=['Symbol','Year'])
dupped = dupped.drop_duplicates(['Symbol','Year'],keep='last')
df = dupped.append(un_dupped).sort_values(by=['Symbol','Year'])

## Loading Balance sheet DATA
for year in range(1385,1399):
    out_name = "BalanceSheet"+str(year)+".csv"
    df_blnc = df[df.Year==year]
    os.chdir(r"C:\Users\Mahdi\OneDrive\Master Thesis\Data")
    df_blnc.to_csv(out_name)

In [22]:
blnc_dict
df.groupby('Year')['Symbol'].agg('count')
df_blnc.head()

                                    نام اصلی       نام استفاده شده
0                                       نماد                Symbol
1                                       شرکت                  Firm
2                                   سال مالی              Fin_year
3                        جمع دارایی‌های جاری     Tot_current_asset
4                                 تاریخ مصوب          Approve_date
5                       خالص دارایی‌های ثابت                   PPE
6           سرمایه گذاری‌ها و سایر دارایی‌ها  other_longterm_asset
7                          جمع بدهی‌های جاری       Tot_current_lib
8                           جمع کل دارایی‌ها             Tot_asset
9                    جمع دارایی‌های غیر جاری  Tot_noncurrent_asset
10                                    سرمایه               Capital
11                                حقوق عمومی         public_rights
12                            جمع کل بدهی‌ها               Tot_lib
13                     جمع بدهی‌های غیر جاری    Tot_noncurrent_lib
14                           سایر اندوخته‌ها          Saving_other
15                            اندوخته قانونی       Saving_required
16                        سود و زیان انباشته    Acummulated_profit
17    جمع حقوق صاحبان سهام در پایان سال مالی                Equity
18         جمع کل بدهی‌ها و حقوق صاحبان سهام       Debt_and_equity
19  جمع حقوق صاحبان سهام مصوب (در مجمع عادی)    debt_equity_normal

Year
1385    431
1386    427
1387    399
1388    424
1389    525
1390    540
1391    513
1392    553
1393    588
1394    588
1395    374
1396    576
1397    628
1398     76
Name: Symbol, dtype: int64

,Firm,Symbol,Fin_year,Year,Approve_date,Tot_current_asset,PPE,other_longterm_asset,Tot_noncurrent_asset,Tot_asset,...,Acummulated_profit,Saving_required,Saving_other,Equity,Debt_and_equity,Book_value,debt_equity_normal,public_rights,year_id,year
110,بیمه اتکائی ایرانیان,اتکای,1398-09-30,1398,1398-12-05,5269616.0,NaN,1674043.0,1793245.0,7077605.0,...,1373233.0,281309.0,57015.0,5227193.0,7077605.0,5227193.0,NaN,NaN,1398,1398
365,سر. اعتلاء البرز,اعتلا,1398-09-30,1398,1399-01-31,1678953.0,8300.0,1092.0,11103.0,1690056.0,...,727563.0,60000.0,NaN,1580777.0,1690056.0,1580777.0,1140777.0,NaN,1398,1398
211,تامین سرمایه امید,امید,1398-09-30,1398,1398-12-19,12263398.0,147999.0,84627.0,240127.0,12503525.0,...,3029813.0,491823.0,NaN,10521636.0,12503525.0,10521636.0,7931636.0,NaN,1398,1398
757,کابلسازی ایران,بایکا,1398-09-30,1398,1399-01-16,188401.0,539592.0,50.0,540527.0,728928.0,...,160614.0,3791.0,NaN,669139.0,728928.0,669139.0,NaN,NaN,1398,1398
544,صنعتی بهپاک,بهپاک,1398-09-30,1398,1399-01-30,2917561.0,175904.0,508233.0,688979.0,3606540.0,...,544784.0,50000.0,8.0,1094792.0,3606540.0,1094792.0,894792.0,NaN,1398,1398

# **Cleaning Income Statement Data**

In [23]:
# ## We did not have enough data for 1398. So in this cell we want to see what is happening?!
# len(pd.read_csv('inc98.csv'))
# temp = read_inc_data(year=1398,path=r"C:\Users\Mahdi\OneDrive\Master Thesis\Data",sherkat_namad_dict=sherkat_namad_dict)['data']
# temp['year'] = temp.Fin_year.apply(lambda x: x.year)
# temp98 = temp[temp.year==1398]
# mf = pd.read_csv('Measures1398.csv',index_col=0).drop_duplicates()

# print('Number of Symbols in BS98: ',len(temp.Symbol.drop_duplicates()))
# temp.groupby('year')['Symbol'].agg('count').iloc[-5:]
# print('Number of Symbols in BS98 in the year 1398 and before month 6: ',len(temp98[temp98.Year==1397]))
# temp98.groupby('Fin_year')['Symbol'].agg('count')
# print('Number of comoon Symbols in BS98 and Measure 98 in the year 1398: ',len(set(mf.Symbol).intersection(set(temp98.Symbol))))
# print('Number of Symbols in Measure 98 before filtration: ',len(mf))

In [24]:
# Reading all data and appending
df = pd.DataFrame()
for year in range(1385,1399):
    temp = read_inc_data(year,path=r"C:\Users\Mahdi\OneDrive\Master Thesis\Data",sherkat_namad_dict=sherkat_namad_dict)
    temp['data']['year_id'] = year
    df = df.append(temp['data'])

# Creating dict for persian-english column names
Inc_dict = pd.DataFrame(data={'نام اصلی':list(temp['columns_dict'].keys()),'نام استفاده شده':list(temp['columns_dict'].values())})
Inc_dict.to_excel('Inc_columns_dict.xlsx')

df = df[df.Year>=1385]
df = df.drop_duplicates([x for x in list(df.columns) if x is not 'year_id'])

# Handling observations for the same year from different years!
dupped = df[df.duplicated(['Symbol','Year'],keep=False)].sort_values(by=['Symbol','Year','year_id'])
un_dupped = df[~df.duplicated(['Symbol','Year'],keep=False)].sort_values(by=['Symbol','Year','year_id'])
firm_sym_dict =dict(zip(dupped.Firm,dupped.Symbol))
dupped = dupped.groupby(['Symbol','Year'],as_index=False).ffill().reindex(dupped.columns, axis=1)
dupped['Symbol'] = dupped.Firm.map(sherkat_namad_dict)
dupped['Year'] = dupped.Fin_year.apply(lambda x: find_year(x))
dupped = dupped.sort_values(by=['Symbol','Year'])
dupped = dupped.drop_duplicates(['Symbol','Year'],keep='last')
df = dupped.append(un_dupped).sort_values(by=['Symbol','Year'])


# Saving Data
for year in range(1385,1399):
    out_name = "IncomeStatement"+str(year)+".csv"
    df_inc = df[df.Year==year]
    os.chdir(r"C:\Users\Mahdi\OneDrive\Master Thesis\Data")
    df_inc.to_csv(out_name)

In [25]:
Inc_dict
df.groupby('Year')['Symbol'].agg('count')
df_inc.head()

,نام اصلی,نام استفاده شده
0,نام شرکت,Firm
1,نماد,Symbol
2,سال مالی,Fin_year
3,تاریخ مصوب,Approve_date
4,ارزش روز,Marketcap
5,سرمایه,Capital
6,جمع درآمدها,Revenue
7,بهای تمام شده کالای فروش رفته,Cost_of_revenue
8,هزینه تامین منابع مالی عملیات لیزینگ (هزینه سو...,capital_cost_
9,سود ناویژه,Gross_profit
10,خالص درآمدها و هزینه‌های عملیاتی,Operating_expenses
11,سود (زیان) عملیاتی,Operating_income
12,هزینه‌های مالی,Interest
13,سود (زیان) تسعیر تسهیلات ارزی دریافتی,exchange_rate_profit
14,خالص سایر درآمدها (هزینه‌ها),Total_other_income_expenses_net
15,سود(زیان)فروش دارائیهای زیستی مولد,green_profit_
16,تعدیل ارزش سرمایه گذاریها,adj_investments_
17,سود (زیان) قبل از کسر مالیات,EBT
18,مالیات,Tax
19,سهم اقلیت از سود سال جاری,minority_share_from_profit_
20,سود (زیان) پس از کسر مالیات,Net_income
21,سود انباشته ابتدای دوره,acumulated_profit
22,تعدیلات سنواتی,adjustments
23,سود قابل تخصیص,divideable_profit
24,epsخالص,EPS
25,epsناخالص,eps_
26,نسبت سود به فروش,profit_to_sale
27,بهای تمام شده املاک فروش رفته و خدمات,real_estate_income_

Year
1385    433
1386    448
1387    420
1388    436
1389    524
1390    531
1391    523
1392    555
1393    592
1394    606
1395    607
1396    608
1397    644
1398     82
Name: Symbol, dtype: int64

,Firm,Symbol,Fin_year,Year,Approve_date,Revenue,Cost_of_revenue,Gross_profit,Operating_expenses,Operating_income,...,exchange_rate_profit,ps,profit_to_sale,eps_,minority_share_from_profit_,capital_cost_,real_estate_income_,green_profit_,adj_investments_,year_id
237,بیمه اتکائی ایرانیان,اتکای,1398-09-30,1398,1398-12-05,1100613.0,NaN,NaN,NaN,1296937.0,...,NaN,26.36,103.8692,352.0,NaN,NaN,NaN,NaN,NaN,1398
470,سر. اعتلاء البرز,اعتلا,1398-09-30,1398,1399-01-31,502203.0,NaN,502203.0,3738.0,485344.0,...,NaN,16.69,96.643,607.0,NaN,NaN,NaN,NaN,NaN,1398
150,تامین سرمایه امید,امید,1398-09-30,1398,1398-12-19,2970334.0,264091.0,2706243.0,NaN,2547079.0,...,NaN,19.01,85.9447,365.0,NaN,NaN,NaN,NaN,NaN,1398
351,کابلسازی ایران,بایکا,1398-09-30,1398,1399-01-16,231800.0,205803.0,25997.0,63.0,-2736.0,...,NaN,68.41,0.4245,2.0,NaN,NaN,NaN,NaN,NaN,1398
275,صنعتی بهپاک,بهپاک,1398-09-30,1398,1399-01-30,7742624.0,6784572.0,958052.0,40135.0,906134.0,...,NaN,2.97,6.4495,999.0,NaN,NaN,NaN,NaN,NaN,1398

# **Cleaning Cash Flow Statement Data**

In [26]:
# ## We did not have enough data for 1398. So in this cell we want to see what is happening?!
# df = pd.read_csv('cf98.csv')
# len(df)
# temp = read_cf_data(year=1398,path=r"C:\Users\Mahdi\OneDrive\Master Thesis\Data",sherkat_namad_dict=sherkat_namad_dict)['data_short']
# temp['year'] = temp.Fin_year.apply(lambda x: x.year)
# temp98 = temp[temp.year==1398]
# mf = pd.read_csv('Measures1398.csv',index_col=0).drop_duplicates()

# print('Number of Symbols in BS98: ',len(temp.Symbol.drop_duplicates()))
# temp.groupby('year')['Symbol'].agg('count').iloc[-5:]
# print('Number of Symbols in BS98 in the year 1398 and before month 6: ',len(temp98[temp98.Year==1397]))
# temp98.groupby('Fin_year')['Symbol'].agg('count')
# print('Number of comoon Symbols in BS98 and Measure 98 in the year 1398: ',len(set(mf.Symbol).intersection(set(temp98.Symbol))))
# print('Number of Symbols in Measure 98 before filtration: ',len(mf))

In [33]:
path = r"C:\Users\Mahdi\OneDrive\Master Thesis\Data"

df_short = pd.DataFrame()
df_all = pd.DataFrame()

for year in range(1385,1399):
    temp = read_cf_data(year=year,path=path,sherkat_namad_dict=sherkat_namad_dict)
    temp['data_short']['year_id'] = year
    df_short = df_short.append(temp['data_short'])
    df_all = df_all.append(temp['data_all'])    
    
CF_dict = pd.DataFrame(data={'نام اصلی':list(temp['columns_dict'].keys()),'نام استفاده شده':list(temp['columns_dict'].values())})
CF_dict.to_excel('CF_columns_dict.xlsx')    

df_short = df_short[df_short.Year>=1385]
df_short = df_short.drop_duplicates([x for x in list(df_short.columns) if x is not 'year_id'])

# Handling observations for the same year from different years!
dupped = df_short[df_short.duplicated(['Symbol','Year'],keep=False)].sort_values(by=['Symbol','Year','year_id'])
un_dupped = df_short[~df_short.duplicated(['Symbol','Year'],keep=False)].sort_values(by=['Symbol','Year','year_id'])
firm_sym_dict =dict(zip(dupped.Firm,dupped.Symbol))
dupped = dupped.groupby(['Symbol','Year'],as_index=False).ffill().reindex(dupped.columns, axis=1)
dupped['Symbol'] = dupped.Firm.map(sherkat_namad_dict)
dupped['Year'] = dupped.Fin_year.apply(lambda x: find_year(x))
dupped = dupped.sort_values(by=['Symbol','Year'])
dupped = dupped.drop_duplicates(['Symbol','Year'],keep='last')
df_short = dupped.append(un_dupped).sort_values(by=['Symbol','Year'])


for year in range(1385,1399):
    out_name_short = 'CashFlow'+str(year)+'.csv'
    out_name_all = 'CashFlow'+str(year)+'_all.csv'
    temp_short = df_short[df_short.Year==year]
    temp_all = df_all[df_all.Year==year]
    os.chdir(r"C:\Users\Mahdi\OneDrive\Master Thesis\Data")
    temp_short.to_csv(out_name_short)
    temp_all.to_csv(out_name_all)

In [34]:
CF_dict
df_short.groupby('Year')['Symbol'].agg('count')
temp_short.head()

                                نام اصلی         نام استفاده شده
0                                   شرکت                    Firm
1                                   نماد                  Symbol
2                               سال مالی                Fin_year
3                             تاریخ مصوب            Approve_date
4               خالص افزایش کاهش وجه نقد          Change_in_cash
5            مانده وجه نقد در انتهای سال       End_cash_position
6            مانده وجه نقد در ابتدای سال  Begining_cash_position
7                    جریان خالص وجوه نقد     Operating_cash_flow
8    جمع جریان خالص فعالیتهای تامین مالی     Financing_cash_flow
9  جمع جریان خالص فعالیتهای سرمایه گذاری     Investing_cash_flow

Year
1385    405
1386    358
1387    393
1388    412
1389    447
1390    516
1391    493
1392    560
1393    574
1394    603
1395    598
1396    616
1397    644
1398    134
Name: Symbol, dtype: int64

,Year,Firm,Symbol,Fin_year,Operating_cash_flow,Investing_cash_flow,Financing_cash_flow,Begining_cash_position,Change_in_cash,End_cash_position,year_id
362,1398,سر. پارس آریان,آریان,1398-12-29,-1782183.0,-1750.0,8463288.0,205409.0,5919163.0,6124572.0,1398
107,1398,بیمه اتکائی ایرانیان,اتکای,1398-09-30,599959.0,-5670.0,NaN,37612.0,-8756.0,25115.0,1398
20,1398,آهن و فولاد ارفع,ارفع,1398-12-29,5219222.0,-725253.0,1179407.0,4771820.0,-91699.0,4680121.0,1398
352,1398,سر. اعتلاء البرز,اعتلا,1398-09-30,31394.0,-696.0,10737.0,13991.0,14078.0,28069.0,1398
205,1398,تامین سرمایه امید,امید,1398-09-30,660246.0,-5673.0,133354.0,185193.0,261699.0,446892.0,1398

# **Cleaning Dividend Data**

In [29]:
os.chdir(r"C:\Users\Mahdi\OneDrive\Master Thesis\Data")
dividend_data = pd.read_excel('Annual_div-98.xlsx')
dividend_data = dividend_data.sort_values(by='year')
dividend_data = dividend_data[dividend_data.year>=1385]
dividend_data['firm'] = dividend_data['firm'].apply(lambda x: convert_ar_characters(x))
dividend_data['symbol'] = dividend_data['firm'].map(sherkat_namad_dict,na_action='ignore')
dividend_data['industry'] = dividend_data['industry'].apply(lambda x: convert_ar_characters(x))
dividend_data.rename(columns={'capital':'Equity','symbol':'Symbol','firm':'Firm','year':'Year','industry':'Industry','ind_id':'Ind_id',
                             'earning':'Earning','dividend':'Dividend','payout':'Payout','eps':'EPS','dps':'DPS'},inplace=True)

dividend_data = dividend_data[['Year', 'Firm', 'Symbol', 'Industry', 'Earning','Dividend','Payout','EPS', 'DPS', 'Equity',
                               'adj_eps', 'adj_dps', 'adj_earning', 'adj_dividend', 'cpi','Ind_id']]

In [30]:
# Unit converter
for x in ['Earning','Dividend','adj_earning', 'adj_dividend']:
    dividend_data[x] = dividend_data[x]*1000

dividend_data['Payout'] = np.round(dividend_data['Dividend']/dividend_data['Earning'],4)

In [31]:
for year in range(1385,1398):
    out_name = 'Dividend'+str(year)+'.csv'
    df = dividend_data[dividend_data.Year == year]
    os.chdir(r"C:\Users\Mahdi\OneDrive\Master Thesis\Data")
    df.to_csv(out_name)

In [32]:
dividend_data.groupby('Year')['Symbol'].agg('count')
df.head()

Year
1385    349
1386    343
1387    329
1388    341
1389    361
1390    432
1391    475
1392    519
1393    549
1394    583
1395    603
1396    607
1397    458
Name: Symbol, dtype: int64

,Year,Firm,Symbol,Industry,Earning,Dividend,Payout,EPS,DPS,Equity,adj_eps,adj_dps,adj_earning,adj_dividend,cpi,Ind_id
2360,1397,ایرکا پارت صنعت,خکار,خودرو و ساخت قطعات,4250.000000,1000.0,0.2353,85,20,562808.0,NaN,NaN,NaN,NaN,NaN,34
7529,1397,فولاد کاوه جنوب کیش,کاوه,فلزات اساسی,944900.000000,990000.0,1.0477,859,900,17018133.0,NaN,NaN,NaN,NaN,NaN,27
7051,1397,البرزدارو,دالبر,مواد و محصولات دارویی,151218.000000,133920.0,0.8856,813,720,3920279.0,NaN,NaN,NaN,NaN,NaN,43
1884,1397,مهرکام پارس,خمهر,خودرو و ساخت قطعات,-43379.228791,0.0,-0.0000,-233,0,1014661.0,NaN,NaN,NaN,NaN,NaN,34
4603,1397,بیمه ملت,ملت,بیمه وصندوق بازنشستگی به جزتامین اجتماعی,86070.000000,71250.0,0.8278,302,250,4507619.0,NaN,NaN,NaN,NaN,NaN,66