In [1]:
## Loading Libraries
import pandas as pd
import numpy as np
import sys
import jdatetime as jd
import os
import pickle
import io

# import power_index_calculator as px
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
from ReadingBalancesheetData import read_blnc_data
from ReadingIncomeData import read_inc_data
from ReadingCashFlowData import read_cf_data
from convert_ar_characters import convert_ar_characters

# Creating شرکت-نماد dict from Balance Sheet Data

In [3]:
## Updating Sh_spec_handy based on the شرکت-نماد for years 1397-8 from balance sheet data
# Loading Sh_spec_handy data
os.chdir(r"C:\Users\Mahdi\Dr. Heidari - TSE\WorkInHands\_Data\OtherData")
Sh_spec_handy=pd.read_excel("Sh_spec_handy.xlsx")
Sh_spec_handy.Shareholder_raw=Sh_spec_handy.Shareholder_raw.apply(lambda x: convert_ar_characters(x))
Sh_spec_handy.Shareholder=Sh_spec_handy.Shareholder.apply(lambda x: convert_ar_characters(x))

# Loading data and convert names
os.chdir(r"C:\Users\Mahdi\OneDrive\Master Thesis\Data")
df95 = pd.read_excel('95.xlsx')
df95['شرکت']=df95['شرکت'].apply(lambda x: convert_ar_characters(x))

df96 = pd.read_excel('95.xlsx')
df96['شرکت']=df96['شرکت'].apply(lambda x: convert_ar_characters(x))

with open('97.txt',encoding="utf8") as f:
    fileobject = io.StringIO(f.read())
df97 = pd.read_csv(fileobject, sep='\t',  lineterminator='\n', names=None)
df97['شرکت']=df97['شرکت'].apply(lambda x: convert_ar_characters(x))
df97['نماد']=df97['نماد'].apply(lambda x: convert_ar_characters(x))

with open('98.txt',encoding="utf8") as f:
    fileobject = io.StringIO(f.read())
df98 = pd.read_csv(fileobject, sep='\t',  lineterminator='\n', names=None)
df98['شرکت']=df98['شرکت'].apply(lambda x: convert_ar_characters(x))
df98['نماد']=df98['نماد'].apply(lambda x: convert_ar_characters(x))

# Appending the data of two years
sherkat_namad = df97[['شرکت','نماد']].append(df98[['شرکت','نماد']]).drop_duplicates()
sherkat_namad = sherkat_namad.append(pd.DataFrame(data={'شرکت':['سر. صنعت و معدن'],
                         'نماد':['وصنعت']}))
sherkat_namad = sherkat_namad.append(pd.DataFrame(data={'شرکت':['مهندسی فیروزا'],
                         'نماد':['تفیرو']}))
sherkat_namad = sherkat_namad.append(pd.DataFrame(data={'شرکت':['تامین مواد اولیه فولاد صبانور'],
                         'نماد':['کنور']}))
sherkat_namad = sherkat_namad.append(pd.DataFrame(data={'شرکت':['پتروشیمی فجر'],
                         'نماد':['بفجر']}))
sherkat_namad.rename(columns={'شرکت':'Shareholder_raw','نماد':'Shareholder'},inplace=True)
sherkat_namad = sherkat_namad.drop_duplicates()

# Updating the Sh_spec_handy file
Sh_spec_handy = Sh_spec_handy.append(sherkat_namad).drop_duplicates()
Sh_spec_handy = Sh_spec_handy[Sh_spec_handy.Shareholder !='nan']
sherkat_namad_dict = dict(zip(Sh_spec_handy['Shareholder_raw'],Sh_spec_handy['Shareholder']))

# **Cleaning BalanceSheet Data**

In [4]:
## Loading Balance sheet DATA
for year in [1395,1396,1397,1398]:
    out_name = "BalanceSheet"+str(year)+".csv"
    df_blnc = read_blnc_data(year=year,path=r"C:\Users\Mahdi\OneDrive\Master Thesis\Data",sherkat_namad_dict=sherkat_namad_dict)
    os.chdir(r"C:\Users\Mahdi\OneDrive\Master Thesis\Data")
    df_blnc['data'].to_csv(out_name)

blnc_dict = pd.DataFrame(data={'نام اصلی':list(df_blnc['columns_dict'].keys()),
                               'نام استفاده شده':list(df_blnc['columns_dict'].values())})    
blnc_dict.to_excel('Blnc_columns_dict.xlsx')

In [5]:
blnc_dict
df_blnc['data'].head()

                                    نام اصلی       نام استفاده شده
0                                       نماد                Symbol
1                                       شرکت                  Firm
2                                   سال مالی              Fin_year
3                        جمع دارایی‌های جاری     Tot_current_asset
4                                 تاریخ مصوب          Approve_date
5                       خالص دارایی‌های ثابت                   PPE
6           سرمایه گذاری‌ها و سایر دارایی‌ها  other_longterm_asset
7                          جمع بدهی‌های جاری       Tot_current_lib
8                           جمع کل دارایی‌ها             Tot_asset
9                    جمع دارایی‌های غیر جاری  Tot_noncurrent_asset
10                                    سرمایه               Capital
11                                حقوق عمومی         public_rights
12                            جمع کل بدهی‌ها               Tot_lib
13                     جمع بدهی‌های غیر جاری    Tot_noncurrent_lib
14                           سایر اندوخته‌ها          Saving_other
15                            اندوخته قانونی       Saving_required
16                        سود و زیان انباشته    Acummulated_profit
17    جمع حقوق صاحبان سهام در پایان سال مالی                Equity
18         جمع کل بدهی‌ها و حقوق صاحبان سهام       Debt_and_equity
19  جمع حقوق صاحبان سهام مصوب (در مجمع عادی)    debt_equity_normal

,Firm,Symbol,Fin_year,Year,Approve_date,Tot_current_asset,PPE,other_longterm_asset,Tot_noncurrent_asset,Tot_asset,...,Tot_lib,Capital,Acummulated_profit,Saving_required,Saving_other,Equity,Debt_and_equity,Book_value,debt_equity_normal,public_rights
0,آ.س.پ,آ س پ,1398-06-31,1397,1398-09-16,1396143.0,18601.0,2673.0,68886.0,1465029.0,...,518844.0,800000.0,15315.0,30870.0,NaN,946185.0,1465029.0,946185.0,946185.0,NaN
1,آبادگران,ثاباد,1397-12-29,1397,1398-08-04,314503.0,4681.0,33425.0,38394.0,352897.0,...,65412.0,240000.0,31207.0,16278.0,NaN,287485.0,352897.0,287485.0,NaN,NaN
2,آبادگران ایران کیش,گکیش,1398-06-31,1397,1398-10-23,32964.0,53103.0,11696.0,66086.0,99050.0,...,10521.0,64000.0,19695.0,4468.0,366.0,88529.0,99050.0,88529.0,78929.0,NaN
3,آبسال,لابسا,1397-12-29,1397,1398-04-20,1636152.0,199260.0,10608.0,211315.0,1847467.0,...,1172248.0,360000.0,254211.0,36000.0,NaN,675219.0,1847467.0,675219.0,610611.0,NaN
4,آبفر,آبفر,1385-12-29,1385,1386-04-13,41695.0,9627.0,1366.0,10993.0,52688.0,...,70777.0,16800.0,-35189.0,300.0,NaN,-18089.0,52688.0,-18089.0,NaN,NaN

# **Cleaning Income Statement Data**

In [6]:
# Reading all data and appending
all_inc = pd.DataFrame()
for year in range(1390,1399):
    temp = read_inc_data(year,path=r"C:\Users\Mahdi\OneDrive\Master Thesis\Data",sherkat_namad_dict=sherkat_namad_dict)
    all_inc = all_inc.append(temp['data'])

# Creating dict for persian-english column names
Inc_dict = pd.DataFrame(data={'نام اصلی':list(temp['columns_dict'].keys()),'نام استفاده شده':list(temp['columns_dict'].values())})
Inc_dict.to_excel('Inc_columns_dict.xlsx')

# Saving Data
for year in list(all_inc.Year.drop_duplicates()):
    out_name = "IncomeStatement"+str(year)+".csv"
    df_inc = all_inc[all_inc.Year==year]
    os.chdir(r"C:\Users\Mahdi\OneDrive\Master Thesis\Data")
    df_inc.to_csv(out_name)

In [7]:
Inc_dict
df_inc.head()

,نام اصلی,نام استفاده شده
0,نام شرکت,Firm
1,نماد,Symbol
2,سال مالی,Fin_year
3,تاریخ مصوب,Approve_date
4,ارزش روز,Marketcap
5,سرمایه,Capital
6,جمع درآمدها,Revenue
7,بهای تمام شده کالای فروش رفته,Cost_of_revenue
8,هزینه تامین منابع مالی عملیات لیزینگ (هزینه سو...,capital_cost_
9,سود ناویژه,Gross_profit
10,خالص درآمدها و هزینه‌های عملیاتی,Operating_expenses
11,سود (زیان) عملیاتی,Operating_income
12,هزینه‌های مالی,Interest
13,سود (زیان) تسعیر تسهیلات ارزی دریافتی,exchange_rate_profit
14,خالص سایر درآمدها (هزینه‌ها),Total_other_income_expenses_net
15,سود(زیان)فروش دارائیهای زیستی مولد,green_profit_
16,تعدیل ارزش سرمایه گذاریها,adj_investments_
17,سود (زیان) قبل از کسر مالیات,EBT
18,مالیات,Tax
19,سهم اقلیت از سود سال جاری,minority_share_from_profit_
20,سود (زیان) پس از کسر مالیات,Net_income
21,سود انباشته ابتدای دوره,acumulated_profit
22,تعدیلات سنواتی,adjustments
23,سود قابل تخصیص,divideable_profit
24,epsخالص,Net_eps
25,epsناخالص,eps_
26,نسبت سود به فروش,profit_to_sale
27,بهای تمام شده املاک فروش رفته و خدمات,real_estate_income_

,Firm,Symbol,Fin_year,Year,Approve_date,Revenue,Cost_of_revenue,Gross_profit,Operating_expenses,Operating_income,...,divideable_profit,exchange_rate_profit,ps,profit_to_sale,eps_,minority_share_from_profit_,capital_cost_,real_estate_income_,green_profit_,adj_investments_
8,سر. غدیر,وغدیر,1398-09-30,1398,1399-02-07,40839449.0,NaN,40839449.0,281464.0,40450003.0,...,50292455.0,NaN,19.39,95.6696,543.0,NaN,NaN,NaN,NaN,NaN
17,سر. امید,وامید,1398-10-30,1398,1399-01-31,34958155.0,NaN,34958155.0,153943.0,34905373.0,...,NaN,NaN,14.80,92.2323,1075.0,NaN,NaN,NaN,NaN,NaN
24,سنگ آهن گهر زمین,کگهر,1398-09-30,1398,1399-02-02,53125195.0,24562171.0,28563024.0,144189.0,25955252.0,...,NaN,NaN,8.06,48.814,2108.0,NaN,NaN,NaN,NaN,NaN
44,صنایع شیمیایی ایران,شیران,1398-09-30,1398,1398-12-04,18430522.0,13008511.0,5422011.0,969812.0,5749410.0,...,10950815.0,NaN,12.07,57.6555,1317.0,NaN,NaN,NaN,NaN,NaN
74,پرداخت الکترونیک سامان کیش,سپ,1398-09-30,1398,1398-12-24,16446448.0,13614112.0,2832336.0,NaN,2610480.0,...,NaN,NaN,7.86,16.602,910.0,NaN,NaN,NaN,NaN,NaN

# **Cleaning Dividend Data**

In [8]:
os.chdir(r"C:\Users\Mahdi\OneDrive\Master Thesis\Data")
dividend_data = pd.read_excel('Annual_div-98.xlsx')
dividend_data = dividend_data.sort_values(by='year')
dividend_data = dividend_data[dividend_data.year>=1389]
dividend_data['firm'] = dividend_data['firm'].apply(lambda x: convert_ar_characters(x))
dividend_data['symbol'] = dividend_data['firm'].map(sherkat_namad_dict,na_action='ignore')
dividend_data['industry'] = dividend_data['industry'].apply(lambda x: convert_ar_characters(x))
dividend_data.rename(columns={'capital':'Equity','symbol':'Symbol','firm':'Firm','year':'Year','industry':'Industry','ind_id':'Ind_id',
                             'earning':'Earning','dividend':'Dividend','payout':'Payout','eps':'EPS','dps':'DPS'},inplace=True)

dividend_data = dividend_data[['Year', 'Firm', 'Symbol', 'Industry', 'Earning','Dividend','Payout','EPS', 'DPS', 'Equity',
                               'adj_eps', 'adj_dps', 'adj_earning', 'adj_dividend', 'cpi','Ind_id']]

In [9]:
for year in list(dividend_data.Year.drop_duplicates()):
    out_name = 'Dividend'+str(year)+'.csv'
    df = dividend_data[dividend_data.Year == year]
    os.chdir(r"C:\Users\Mahdi\OneDrive\Master Thesis\Data")
    df.to_csv(out_name)

In [10]:
df.head()

,Year,Firm,Symbol,Industry,Earning,Dividend,Payout,EPS,DPS,Equity,adj_eps,adj_dps,adj_earning,adj_dividend,cpi,Ind_id
2360,1397,ایرکا پارت صنعت,خکار,خودرو و ساخت قطعات,4.250000,1.00,0.235294,85,20,562808.0,NaN,NaN,NaN,NaN,NaN,34
7529,1397,فولاد کاوه جنوب کیش,کاوه,فلزات اساسی,944.900000,990.00,1.047730,859,900,17018133.0,NaN,NaN,NaN,NaN,NaN,27
7051,1397,البرزدارو,دالبر,مواد و محصولات دارویی,151.218000,133.92,0.885609,813,720,3920279.0,NaN,NaN,NaN,NaN,NaN,43
1884,1397,مهرکام پارس,خمهر,خودرو و ساخت قطعات,-43.379229,0.00,NaN,-233,0,1014661.0,NaN,NaN,NaN,NaN,NaN,34
4603,1397,بیمه ملت,ملت,بیمه وصندوق بازنشستگی به جزتامین اجتماعی,86.070000,71.25,0.827815,302,250,4507619.0,NaN,NaN,NaN,NaN,NaN,66

# **Cleaning Cash Flow Statement Data**

In [17]:
path = r"C:\Users\Mahdi\OneDrive\Master Thesis\Data"
for year in range(1389,1399):
    out_name_short = 'CashFlow'+str(year)+'.csv'
    out_name_all = 'CashFlow'+str(year)+'_all.csv'
    df = read_cf_data(year=year,path=path,sherkat_namad_dict=sherkat_namad_dict)
    os.chdir(r"C:\Users\Mahdi\OneDrive\Master Thesis\Data")
    df['data_short'].to_csv(out_name_short)
    df['data_all'].to_csv(out_name_all)

CF_dict = pd.DataFrame(data={'نام اصلی':list(df['columns_dict'].keys()),'نام استفاده شده':list(df['columns_dict'].values())})
CF_dict.to_excel('CF_columns_dict.xlsx')

In [20]:
df['data_short'].head()

,Year,Firm,Symbol,Fin_year,Approve_date,Operating_cash_flow,Investing_cash_flow,Financing_cash_flow,Begining_cash_position,Change_in_cash,End_cash_position
0,1397,آ.س.پ,آ س پ,1398-06-31,1398-08-19,5920.0,4140.0,25519.0,1910.0,25708.0,27618.0
1,1397,آبادگران,ثاباد,1397-12-29,1398-03-25,7729.0,1948.0,-7622.0,296.0,118.0,414.0
2,1397,آبادگران ایران کیش,گکیش,1398-06-31,1398-10-04,10821.0,-12621.0,NaN,1264.0,95.0,1359.0
3,1397,آبسال,لابسا,1397-12-29,1398-04-09,516841.0,-27639.0,-290492.0,27804.0,81253.0,116515.0
5,1393,آبگینه,کابگن,1393-12-29,1394-04-21,-55479.0,3033.0,54168.0,2570.0,-921.0,1568.0